
img{
    border: .50px solid #ddd;
    border-radius: 100%;
    padding: 5px;
    
        box-shadow: 0 0 2px 1px rgba(250, 254, 255, 0.5);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;

}


.frame{
    border-style: none;
    box-shadow: 10px 10px 10px #FFE3E3;

    height: 610px;
    width: 580px;
   margin: auto;
   padding: 10px;
   background-image: linear-gradient(to right,#FFE3E3 ,#E4D8DC, #C9CCD5 , #93B5C6  );
border-radius: 7%;
}

h2{
    text-align: center;
    color: rgb(8, 4, 27);

  font-size: x-large;
}

p{
    text-align: center;
   font-size: small;
    
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 30px;
    width: 400px;
    
}

.b1{
   
         
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 30px;
    width: 400px;
    background-color:#0095F6;
    border: none;
    color: #ffffff;
    font-size: 17px;     
    cursor: pointer;
}


   

h3{
    text-align: center; 
   border-bottom: 1px solid rgba(15, 0, 0, 0.267); 
   line-height: 0.1em;
   margin: 10px 0 20px; 
color: rgba(0, 0, 0, 0.473);
margin-top: 50px;
   
}

h3 span { 
   
    padding:0 10px; 
    background-image: linear-gradient(to right,#FFE3E3 ,#E4D8DC, #C9CCD5 , #93B5C6  );

}

.button2{
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
background: transparent;

    
    
}

body{
    background: #C9CCD5;
    font-family: 'Nunito', sans-serif;

}

