<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/enterPassword.css">
 
</head>
<body>
<main class="container">
    <div class="col-1">
        <div class="contant">
        <img src="/images/enterPasswordImg/a_lock.png " class="a_lock_small"">
        <h1>Change your password</h1>
        <h3>New password</h3>
        <input type="password" class="input" id="pas1">
        <h3>Confirm new password</h3>
        <input type="password" class="input" id="pas2">
        <button id="submit">Change my password</button>
    </div>
    </div>
    <div class="col-2">
        <img src="/images/enterPasswordImg/a_lock.png" class="a_lock"> 
    </div>
</main>
<script src="/js/changePass.js"></script>
</body>
</html>