<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Enter email to reset password</title>
    <link rel="stylesheet" href="/css/enterEmail.css">

</head>
<body>
   <div class="container">
       <div class="head">
        <img src="/images/enterEmailImg/logo.png" class="logo">
       </div>
       <div class="main">
        <p>Enter the Email address associated with your account
            and we'll send you a verification code to reset your password.
        </p>
        <br>
        <h3>Email</h3>
        <input type="email" placeholder="Please enter your email"><br>
        <button type="button">Continue</button>
       </div>
       <div class="footer">
           <h3>Don't have an account?</h3>
           <a href="">Sign up </a>
       </div>
   </div> 
</body>
</html>