<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password page</title>
    <link rel="stylesheet"href="Forgot.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">


</head>
<body>
  <div class="container">
<div class="frame">

<div class="pic">
    <img src="password22.png"/>
</div>

<h2>Forgot Your password?</h2>
<p>Enter your Email, phone number </p>
  <p>we'll send you a code to get back into your account</p>  
<form>
  <input type="email" 
placeholder="Email/Phone number"
>
</form>


<button class="b1">Send code</button>

<h3><span>OR</span></h3>

<button class="button2" >Create New Account</button>
</div>
  </div>
</body>
</html>
