body{
    margin-top:20px;
    background:#C9CCD5;
}


.product-content {
    border: 1px solid #dfe5e9;
    margin-bottom: 20px;
    margin-top: 12px;
    background: #fff;
    box-shadow: 16px 16px 10px #FFE3E3;
    border-radius: 30px;
}

.product-content .carousel-control.left {
    margin-left: 0
}

.product-content .product-image {
    background-color: #fff;
    display: block;
    min-height: 238px;
    overflow: hidden;
    position: relative
}

.product-content .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff
}

.product-content .product-deatil h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0
}

.product-content .product-deatil h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}

.product-content .product-deatil span.tag1 {
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    height: 50px;
    padding: 13px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px
}

.product-content .product-deatil span.sale {
    background-color: #21c2f8
}

.product-content .product-deatil span.discount {
    background-color: #71e134
}

.product-content .product-deatil span.hot {
    background-color: #fa9442
}

.product-content .description {
    font-size: 12.5px;
    line-height: 20px;
    padding: 10px 14px 16px 19px;
    background: #fff
}

.product-content .product-info {
    padding: 11px 19px 10px 20px
}

.product-content .product-info a.add-to-cart {
    color: #2f383d;
    font-size: 13px;
    padding-left: 16px
}

.product-content name.a {
    padding: 5px 10px;
    margin-left: 16px
}

.product-info.smart-form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px
}

.product-entry .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative
}

.product-entry .product-deatil h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none
}

.product-entry .product-deatil h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}

.load-more-btn {
    background-color: #21c2f8;
    border-bottom: 2px solid #037ca5;
    border-radius: 2px;
    border-top: 2px solid #0cf;
    margin-top: 20px;
    padding: 9px 0;
    width: 100%
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
    color: #21c2f8;
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 20px
}

.product-info.smart-form .rating label {
    margin-top: 0
}

.product-wrap .product-image span.tag2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center
}

.product-wrap .product-image span.sale {
    background-color: #57889c
}

.product-wrap .product-image span.hot {
    background-color: #a90329
}

.shop-btn {
    position: relative
}

.shop-btn>span {
    background: #a90329;
    display: inline-block;
    font-size: 10px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    font-weight: 700;
    border-radius: 50%;
    padding: 2px 4px 3px!important;
    text-align: center;
    line-height: normal;
    width: 19px;
    top: -7px;
    left: -7px
}

.description-tabs {
    padding: 30px 0 5px!important
}

.description-tabs .tab-content {
    padding: 10px 0
}

.product-deatil {
    padding: 30px 30px 50px
}

.product-deatil hr+.description-tabs {
    padding: 0 0 5px!important
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
    background: none!important
}

.product-deatil .glyphicon {
    color: #3276b1
}

.product-deatil .product-image {
    border-right: none!important
}

.product-deatil .name {
    margin-top: 0;
    margin-bottom: 0
}

.product-deatil .name small {
    display: block
}

.product-deatil .name a {
    margin-left: 0
}

.product-deatil .price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300
}

.product-deatil .price-container small {
    font-size: 12px
}

.product-deatil .fa-2x {
    font-size: 16px!important
}

.product-deatil .fa-2x>h5 {
    font-size: 12px;
    margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
    font-size: 13px
}

.profile-message ul {
  list-style: none ;  
}

.product-deatil .certified {
    margin-top: 10px
}

.product-deatil .certified ul {
    padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
    margin-left: -3px
}

.product-deatil .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
    border-right: none
}

.product-deatil .certified ul li a {
    text-align: left;
    font-size: 12px;
    color: #6d7a83;
    line-height: 16px;
    text-decoration: none
}

.product-deatil .certified ul li a span {
    display: block;
    color: #21c2f8;
    font-size: 13px;
    font-weight: 700;
    text-align: center
}

.product-deatil .message-text {
    width: calc(100% - 70px)
}
.product-quantity-box input,
.product-quantity-box label {
    touch-action: manipulation
}

.product-quantity-box input::-moz-focus-inner {
    border: 0;
    padding: 0
}

.product-quantity-box  input {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
	    line-height: normal;
}

.product-quantity-box input[type="number"] {
    display: block;
    width: 100%;
    height: 42px;
    min-height: 42px;
    padding: 0 10px;
    margin: 0;
    line-height: 22px;
    border: 1px solid #cccccc;
    outline: none;
    background: #fff;
    color: #5f6a7d;
    font-size: 13px;
    margin-bottom: 15px;
    -webkit-appearance: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media (max-width: 480px) {
    .product-quantity-box input[type="number"] {
        font-size:16px
    }
}

.product-quantity-box input[type="number"]:active,
.product-quantity-box input[type="number"]:focus {
    border: 1px solid #aaa;
    color: #444
}

.product-quantity-box input[type=number]::-webkit-outer-spin-button,
.product-quantity-box input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.product-quantity-box input[type=number] {
    -moz-appearance: textfield
}

.product-quantity-box label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    margin-bottom: 5px;
    text-transform: uppercase
}

.product-quantity-box input.quantity {
    width: 48px;
    display: inline;
    margin-bottom: 0;
    padding: 8px 5px
}

.product-quantity-box .quantity,.product-quantity-box .quantity:focus,.product-quantity-box .product-plus,.product-quantity-box .product-minus {
    border: #e2e2e2 1px solid;
    color: #000
}

.product-quantity-box label {
    margin-bottom: 0.3em
}

.product-quantity-box {
    margin-right: 0;
    width: 120px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.product-quantity-box label {
    text-align: left
}

.product-quantity-box .quantity {
    text-align: center;
    padding: 6px 15px;
    width: 50%;
    height: 42px;
    border-radius: 0;
    -webkit-appearance: none;
    float: left
}

.product-quantity-box .product-plus,.product-quantity-box .product-minus {
    background: #f2f2f2;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    height: 42px;
    display: block;
    width: 25%;
    text-align: center;
    float: left
}

.product-quantity-box .product-plus:hover,.product-quantity-box .product-minus:hover {
    background: #d9d9d9
}

@media (max-width: 798px) {
    .product-quantity-box .product-plus,.product-quantity-box .product-minus {
        display:inline;
        display: initial;
        margin: 0
    }
}

.product-quantity-box .product-plus {
    border-left: 0;
    font-size: 16px;
    line-height: 42px
}

.product-quantity-box .product-minus {
    border-right: 0;
    line-height: 42px;
    font-size: 18px
}

.product-quantity-box svg{
	fill: #b5b5b5;
	width: 17px;
	height: 17px;
	position: relative;
	top: 2px;
}

@media only screen and (min-width:1024px) {
    .product-content div[class*=col-md-4] {
        padding-right: 0
    }
    .product-content div[class*=col-md-8] {
        padding: 0 13px 0 0
    }
    .product-wrap div[class*=col-md-5] {
        padding-right: 0
    }
    .product-wrap div[class*=col-md-7] {
        padding: 0 13px 0 0
    }
    .product-content .product-image {
        border-right: 1px solid #dfe5e9
    }
    .product-content .product-info {
        position: relative
    }
}

.message img.online {
    width:40px;
    height:40px;
}