<%- include('../partials/dashboard_header') %>
<div class="container">
  <form method="POST" action="/dashboard/profile/update_password">
    <h2>Update Password</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="first">New Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="enter new password"
            id="first"
          />
        </div>
      </div>
    </div>

    <!--  row   -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="last">Confirm New Password</label>
          <input type="password" class="form-control" placeholder="confirm password" id="last" name="new_password" />
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%- include('../partials/dashboard_footer') %>
